h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 150%;
}
header{
	background-color: #C0C0C0;
}
aside{
	display: none;
}
section{
	background: #808080;
}
h2{
	text-transform: uppercase;
	color: #000080;
}
a{
  background-color:#00ff00;
  color:#ff0000;
}
