
/*Links Practice part */
a{
	display: block;
	font-weight: bold;
	color: #ffffff;
	background: #0006CC;
	width: 200px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;

}

a:hover{
	background-color: #83B3B3;
	color: #0006CC;

}
a:focus{
	background-color: #83B3B3;
	color: #0006CC;
}
a:active{
	border: 3px solid #000000;
}
	

/*List Practice part */

div{
	display: inline-block;
	width:40%;

}
ol{
	list-style-type: upper-roman;
	float: left;

}

ul{
	float: right;
	list-style-type: square;
}

ul,ol{
	list-style-image: url("1 (2).png");
}