body{

	margin: 4px;
	padding: 10px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 150%;
	text-align: center;
}
header{
	
	padding: 20px;
	background-color: #FFFFFF;
	background-image: url('flywheel.jpg');
	background-size: 100%;
}
/*
aside{
	
	width: 20%;
	background: #808000;
} */
.left img{
	border:solid 2px #000000;
	margin: 10%
	width:80%; 
}
section{
	background: white;
}
h2{
	text-transform: uppercase;
	color: #000080;
}
nav a{
  display: inline-block;
  margin: 4px;

  -webkit-border-radius:3;
  -moz-border-radius:3;
  -o-border-radius:3;
  border-radius: 5px;

  text-decoration: none;
  padding: 4px;

  color: #000000;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(218,234,213,0.60);
  width: 150px;
  height: 20px;

}

a:active{
	background-color: #FFFFFF;
}

.right{
	float: right;
	display: inline-block;
	padding-left: 4px;
}
.left{
	 
    clear: left;
    background: #b266e2;
    width:23%;
    height: 800px;
    border: 5px double #ff00ff;
    margin: 0 auto;
    margin-top: 14px;
}